.title > .text {
	-fx-font-family: "Avenir Next";
	-fx-font-size: 20pt;
}

.subtitle > .text {
	-fx-font-family: "Avenir Next";
	-fx-font-size: 16pt;
	
}

.text {
	-fx-font-size: 12pt;
	-fx-font-family: "Avenir Book" !important;
}
.btn_save {
	-fx-background-color: #5CB85C !important;
	-fx-text-fill: white !important;
	-fx-font-size: 22px !important;
	-fx-border-radius: 0 !important;
}
